<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Voting App</title>
    </head>
    <body>
        <!-- The number of votes, updated dynamically -->
        Votes: <span id="count">{{ votes }}</span>
        <br><br>
        <button id="up">UP</button>
        <br>
        <button id="down">DOWN</button>
    </body>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            // run a function for each button
            document.querySelectorAll('button').forEach(button => { 

                // run a function when any button is clicked
                button.onclick = () => {

                    //new AJAX request
                    const request = new XMLHttpRequest();

                    // to the endpoint `${button.id}` with method 'POST'
                    request.open('POST', `/${button.id}`);

                    //what to do after receiving response
                    request.onload = () => {

                        //get the response text
                        const response = request.responseText;

                        //replace the vote count with the updated number of votes 
                        document.getElementById('count').innerHTML = response;
                    }; 

                    //actually send the request
                    request.send();
                };
            });
        });
    </script>
</html>
